<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="iz_custom_admin_grid_listing_data_source" xsi:type="string">Iz\CustomAdminGrid\Model\ResourceModel\Custom\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Iz\CustomAdminGrid\Model\ResourceModel\Custom\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_admin_grid</argument>
            <argument name="resourceModel" xsi:type="string">Iz\CustomAdminGrid\Model\ResourceModel\Custom</argument>
        </arguments>
    </virtualType>
</config>
